{% extends 'base.html.twig' %}

{% block title %}Véhicule !{% endblock %}

{% block body %}

<section class="row articles">
<article class="col-md-8 mx-auto text-center border border-dark mb-3 p-3 mt-3 mr-1">
      <h2>{{ show.titre }}</h2>
  <div class="row justify-content-center">
        <img class="img-fluid" src="{{ show.photo }}" alt="" width="250px">
      <div class="metadata">
        Ajouté le {{ show.getDateEnregistrement |date('d/m/Y') }}
        <div class="content">
          <div class="col">
            <b>Modèle:</b> {{ show.modele }}</div>
          <div class="col">
            <b>Marque:</b> {{ show.marque }}</div>
          <div class="col">
            <b>Prix journalier:</b> {{ show.getPrixJournalier }} €</div>
          <div class="col">
            <b>Description:</b><br> {{ show.description|raw }}</div>
        </div><hr>
      </div>

  {% if app.user %}
    {{ form_start(formCommande) }}
         {{ form_row(formCommande.date_heure_depart) }}
        {{ form_row(formCommande.date_heure_fin) }}
    <button type="submit" class="btn btn-success col-12 mt-3">Réservation - En construction</button>
    {{ form_end(formCommande) }}
  {% else %}
    <a href="{{ path('app_login') }}">Cliquez ici</a> pour vous connecter et réserver.
  {% endif %}

  </div>
</article>
</section>

{% endblock %}